<div class="columns is-centered">
    <div class="column is-4">
        <h1 class="title has-text-centered">
            Edit Quote
        </h1>
        <form method="post" action="/quotes/edit/{{quote.id}}">
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="visible" value="{{quote.visible}}">
                    Show on public quotes section
                </label>
            </div>
            <div class="field">
                <input class="input" type="text" name="author" value="{{quote.author}}" placeholder="Who said it?">
            </div>
            <div class="field">
                <textarea class="textarea" maxlength="200" name="quote"
                          placeholder="What did he said?">{{quote.quote}}</textarea>
            </div>
            <div class="field">
                <button class="button is-primary is-fullwidth">
                    Save
                </button>
            </div>
        </form>
        <form method="post" action="/quotes/delete/{{quote.id}}">
            <div class="field">
                <button class="button is-primary is-fullwidth is-danger">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>